<p id="notice"><%= notice %></p>

<h1>Dummy Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dummy_users.each do |dummy_user| %>
      <tr>
        <td><%= dummy_user.email %></td>
        <td><%= dummy_user.password %></td>
        <td><%= link_to 'Show', dummy_user %></td>
        <td><%= link_to 'Edit', edit_dummy_user_path(dummy_user) %></td>
        <td><%= link_to 'Destroy', dummy_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dummy User', new_dummy_user_path %>
